.popUpCookie{

 z-index: 1000;
position: fixed;
height: 100vh;
width: 100vw;

display: flex;
justify-content: center;
align-items: center;

}







.cookie {
    flex-flow: column;
    justify-content: center;
    height: auto;
    width: 800px;
    height: 80vh;
    min-width: 315px;
    background-color: var(--main-background-color);
    border-radius: 20px;
    padding: 40px;
    padding-top: 0px;
    overflow: auto;
}

.cookie  #cookie-optionnel {
    
    padding-left: 40px;
}

.cookie > h2 {
    font-weight: bold;
    text-align: center;
    font-size: 2em;
}

.cookie > p {
    font-weight: normal;
    font-size: 1em;
    text-align: justify;
}

.cookie > label {
    font-size: 1.4em;
}

.cookie > .centre {
    background-color: var(--header-background-color);
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.cookie .pImportant {
    font-size: 24px;
}

.cookie ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}

.cookie ul li {
 
    display: flex;
    align-items: center;

}


.cookie > p > .condition {
    display: inline;
    color: var(--bleu);
}

.cookie .optionnel{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.cookie > .bouttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.cookie > .bouttons > #savoirPlus {
    border: 2 px solid var(--bleu);
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.cookie > .bouttons > #savoirPlus:hover {
    background-color: var(--bleu);   
}


.cookie #pConditionUtilisation{

    text-align: center;
    margin-bottom: 15px;
}

.cookie > .bouttons > #accepterCookies {
    border: 2 px solid var(--bleu);
    width: 200px;
    height: 40px;
    border-radius: 20px;
}

.cookie > .bouttons > #accepterCookies:hover {
    background-color: var(--bleu);
}


.cookie .switchConsentement {
    position: relative;
    display: inline-block;
    width: 60px;
    min-width: 60px;
    height: 34px;
    right: 20px;
  }

  .cookie  .switchConsentement.oblige  .slider{
    background-color: transparent;
    border: solid 1px rgb(255, 255, 255);
  }




  
  
  .cookie .switchConsentement input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .cookie .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .cookie  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .cookie  input:checked+.slider {
    background-color: #1B65A9;
  }
  
  .cookie  input:focus+.slider {
    box-shadow: 0 0 1px #1B65A9;
  }
  
  .cookie  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


  .cookie .switchConsentement.oblige input:checked+.slider:before {
    background-color: grey;
  }
  
  /* Rounded sliders */
  .cookie .slider.round {
    border-radius: 34px;
  }
  
  .cookie .slider.round:before {
    border-radius: 50%;
  }










  

#banner {
	width: 100%;
	height: 450px;
	margin-top: 5px;
	margin-bottom: 50px;
    position: relative;
}

#banner img {
    object-fit: cover;
    width: 100%;
}

#banner-text {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 10px;
    bottom: 75px;
    left: 10%;
    width: 20%;
    min-width: 315px;
    height: 150px;
    z-index: 1;
    background-color: #272727;
    color: white;
    padding: 10px;
    font-size: 120%;
}

#explore{
    display: flex;
    align-items:center;
    justify-content: center;
    position: absolute;
    margin-top: 100px;
    width: 80%;
    height: 20%;
    background-color: var(--bleu);
    border-radius: 10px;
    color: black;
}

@media only screen and (max-width: 900px){
    #banner-text{
        font-size: 100%;
    }
    #explore{
        height: 30%;
        font-size: 90%;
        text-align: center;
    }
}

main#accueil nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 90%;
}

main#accueil nav ul li img {
	height: 250px;
	width: 250px;
	border-radius: 300px;

}

main#accueil nav ul a {
	border: 1px solid var(--main-font-color);
    padding: 30px 30px 0 30px;
	border-radius: 15px 15px 15px 15px;
}

main#accueil nav ul h2 {
	text-align: center;
}

@media only screen and (max-width: 900px) {
	main#accueil nav ul li img {
		height: 100px;
		width: 100px;
	}

	main#accueil nav ul h2 {
		font-size: 15px;
	}
}






#divVIA{
justify-content: center;
}


#via { 
    flex-direction: row;
    justify-content:space-around;
    width: 1000px;
    padding: 0px;
    margin-bottom: 100px;
}

#via li {
    display: flex;
    align-items: center;
    border: solid 2px var(--main-content-background-color);
    border-radius: 15px;
    background-color: var(--header-background-color);
    overflow: hidden;
    
}
#via li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    height: 200px;
    max-width: 15vw;
    max-height: 15vw;
    min-width: 150px;
    min-height: 150px;
    padding: 15px;
}

#via div {
    display: flex;
    justify-content:  center;
    height: 100%;
    width: 95%;

}
#via li div img{
    border-radius: 100%;
    width: 90%;
    height: 100%;
}

#via li h2{
    margin: 0px;
    padding-top: 5%;
    font-weight: 100;
    color: var(--navBar-font-color);
}


#articleSemaine{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

}

#articleSemaine > div{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap : 50px;
    margin-top: 30px;
}

#articleSemaine div h1{

    color: var(--main-content-font-color);
    font-weight: 100;
    margin-bottom: 15px;
    padding: 20px;
    width: 50%;
    min-width: 385px;
    background-color: var(--navBar-font-color);
    border-radius: 10px;

}

svg > g > path{
    stroke: var(--svg-background-color);
}