.articleVendeur {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    background-color: var(--header-background-color);
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px var(--main-content-background-color);
    border-radius: 15px;
    width: 100%;
}



.articleVendeur #photo {
    width: 30%;
    height: 150px;
    border-radius: 15px;
    border: solid 1px black;
    margin-left: 30px;
}

.articleVendeur #photo img {
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
    height: 100%;
}

.articleVendeur #responsive {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    flex-shrink: 1;
    width: 100%;
}



.articleVendeur .center {
    width: 70%;
    height: 150px;
    margin-left: 15px;
    margin-right: 15px;

}

.articleVendeur .center div {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articleVendeur .center div h3:first-child {
    margin: 0px;
    font-weight: normal;
    font-size: 23px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
    text-align:left;
    height: 23px;
    
}

.articleVendeur .center div h3:last-child {
    margin: 0px;
    margin-bottom: 0px;
    font-weight: bolder;
    font-size: x-large;
    color: var(--bleu);
}


.articleVendeur .center section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: solid 1px var(--main-content-background-color);

    padding-top: 10px;
    padding-bottom: 10px;

}

.articleVendeur .center section p {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 95%;
    margin: 0px;
    font-size: small;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: normal;
}

.articleVendeur .center .divBouton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
    border-radius: 10px;
    height: 30px;
    color: black;
    font-weight: bolder;
    margin-top: 10px;
    overflow: hidden;

}

.articleVendeur .center .divBouton > button {
    width: 100%;
    height: 100%;
    background-color: var(--bleu);
    border: none;
    font-weight: 700;
}

.articleVendeur .divSupprimer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px 15px 15px 0px;

    background-color: var(--rouge);
    height: 100%;
    width: 75px;
    cursor: pointer;
}

.articleVendeur .divSupprimer svg {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
}






.divSupprimerCompte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

#btnSupprimerCompte {

    background-color: var(--rouge);
    color: var(--main-font-color);
    border: 2px solid black;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    max-width: 400px;
    font-weight: 700;
    font-size: 15px;
}


.divPopUp {

    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;


}

.divPopUp>#popUpSupprimerarticleVendeur {

    height: 250px;
    background-color: var(--main-background-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}


.divPopUp>#popUpSupprimerarticleVendeur>section {
    height: 25%;
    width: 100%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

.divPopUp>#popUpSupprimerarticleVendeur>div {

    height: 75%;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;


}

.divPopUp>#popUpSupprimerarticleVendeur>div>p {

    width: 100%;
    text-align: center;


}

.divPopUp>#popUpSupprimerarticleVendeur>div>div {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;

}

.divPopUp>#popUpSupprimerarticleVendeur>div>div>button {

    height: 50px;
    width: 100%;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}


#popUpSupprimerarticleVendeur>div>div>#annulerSupprimer {

    background-color: var(--bleu);
    color: black;

}

#popUpSupprimerarticleVendeur>div>div>#confirmerSupprimer {

    background-color: var(--rouge);
    color: white;


}






@media (min-width: 481px) and (max-width: 1000px) {   
     .articleVendeur {
        height: 200px;
        position: relative;
    }

    .articleVendeur #responsive > div:first-child {
        width: 250px;
        min-width: 250px;
        height: 180px;
    }


    


    .articleVendeur .center {
        width: 65%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .articleVendeur .center .divBouton {
        height: 60px;
        margin-top: 0px;
        margin-bottom: 18px;
    }

    .articleVendeur .center section {
        display: none;
    }



    .articleVendeur .center div {
        flex-direction: column;
        align-items: baseline;
        height: 45%;
        margin-top: 18px;
    }


    .articleVendeur .center >div> h3:first-child {
        font-size: 1.6em;
    }

    .articleVendeur .center >div> h3:last-child {
        font-size: 1.7em;
    }


    


    .articleVendeur .divSupprimer p {
        font-size: x-large;
    }




    .articleVendeur #via {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        padding: 0px;
        margin-bottom: 30px;
    }

    .articleVendeur #divVIA #via li{

        height: 120px;
        border-radius: 0px;
        border-right: none;
        border-left: none;
        border-bottom: solid 1px white;
        border-top: solid 1px white;
    }

    .articleVendeur #divVIA #via li a {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: unset;
        width: 100%;
        height: 100%;
      
       
    }


    .articleVendeur  #via li h2 {
         padding-top: 0px;
         height: 100%;
         width: 50%;
         display: flex;
            align-items: center;
            justify-content: center;
    }

    .articleVendeur #divVIA #via li a div {
        width: 50%;
        height: 100px;

    }

    .articleVendeur #divVIA #via li a img {
        width: 100px;
        height: 100px;
        object-fit: cover;
    }

   
  
}


@media (min-width: 481px) and (max-width: 600px) {   



    
    .articleVendeur #responsive > div:first-child {
        min-width: 180px;
        width: 180px;
        height: 180px;
    }

    .articleVendeur .center {
        width: 55%;
        height: 200px;
    }

    .articleVendeur .divSupprimer {
        left: 200px;
    }

    .articleVendeur #divHeart {
        display: none;
    }

    .articleVendeur #banner {
        width: 100%;
        height: 250px;

    }




}


.articleVendeur input {
    display: none;
}