main{
    margin : 4em;
    background:#262525;
}

#titre{
    text-align: left;
    padding: 0.5em;
}

.sous-titre{
    text-align: center;
}

.autres{
    text-align: left;
    color: #79D2BC;
    padding-left: 3em;
    font-size: 1.25em;
}

.texte{
    flex-flow: column;
    width: 80%;
    margin : 10%;
    text-align: left;
}

.bouton{
    flex-flow: column;
    width: 20%;
    margin : 5%;
    text-align: center;
}



.enchere{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    top: 115px;
    height: 180px;
    background:#161616;
    border-radius: 15px;
    font-size: 1.5em;
    color :white;
    margin : 2em;
    /* width: 90%; */
}

.btnVoirE{
    justify-content: center;
    height: 140px;
    width: 200px;
    border: 0;
    font-size: 1em;
    color: black;
    border-radius: 15px;
    background-color: #79D2BC;
}

.notification{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row;
    top: 115px;
    height: 100px;
    background:#161616;
    border-radius: 15px;
    font-size: 1.5em;
    color :white;
    margin : 2em;
    gap: 40%;
}

.btnVoirN{
    justify-content: center;
    height: 50px;
    width: 200px;
    border: 0;
    font-size: 1em;
    color: black;
    border-radius: 15px;
    background-color: #79D2BC;
}