body{
	min-height: 100vh;
}

main {
	min-height: 0px;
}

#titre {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	height: 100px;
	margin:  auto;
	color: white;
	border-bottom: solid 1px white;
	
}
#topAffichageArticle{
	width: 100%;
	display: flex;
	flex-direction: row-reverse;
	align-items: center;

}

#topAffichageArticle > #contenuOrderBy{
	padding-right: 20px;
	width: 200px;
	height: 100px;
	display: flex;
	align-items: center;
}

#orderBy{
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: var(--header-background-color);
	border-radius: 15px;
	border: solid 1px white;
	width: 100%;
	height: 60px;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='SVGRepo_bgCarrier' stroke-width='0'%3E%3C/g%3E%3Cg id='SVGRepo_iconCarrier'%3E%3Cg id='style=linear'%3E%3Cg id='filter-circle'%3E%3Cpath id='vector' d='M2 17.5H7' stroke='%23ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath id='vector_2' d='M22 6.5H17' stroke='%23ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath id='vector_3' d='M13 17.5H22' stroke='%23ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath id='vector_4' d='M11 6.5H2' stroke='%23ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath id='vector_5' d='M10 20.3999C8.34315 20.3999 7 19.0568 7 17.3999C7 15.743 8.34315 14.3999 10 14.3999C11.6569 14.3999 13 15.743 13 17.3999C13 19.0568 11.6569 20.3999 10 20.3999Z' stroke='%23ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3Cpath id='vector_6' d='M14 9.3999C15.6569 9.3999 17 8.05676 17 6.3999C17 4.74305 15.6569 3.3999 14 3.3999C12.3431 3.3999 11 4.74305 11 6.3999C11 8.05676 12.3431 9.3999 14 9.3999Z' stroke='%23ffffff' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position-x: 80%;
	background-position-y: 9px;
	background-size: 40px;
	color: white;
	font-size: large;
	padding-left: 20px;
}


#orderBy > option{
font-size: large;
color: white;

}

#orderBy option:hover{

    background-color: var(--bleu);
	color: black;

}


#orderBy > svg{

height: 60%;	

}

#principale {
	display: flex;
	flex-direction: row;
	width: 100%;
	background-color: var(--header-background-color);
}

/*****************************
Règles pour éléments du aside
*****************************/

aside {
	min-width: 300px;
	background-color: #262525;
	height:max-content;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
	position: sticky;
	left: 0;

}
aside button {
	border-radius: 15px;
	border: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

aside svg{
	height: 35%;
}

#minus {
	display: none;
}

#validerOuEffacer{
	display: none;
}

aside > div {
	width: 80%;

}

aside > div:first-child{
	min-width: 150px;
	margin-top: 30px;
	background-color: white;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
}

aside > div:last-child{
	display: flex;
	flex-direction: column;
gap: 15px;

}

aside > div:last-child > button{
	padding: 20px;
	width: 100%;
	font-size: larger;
	
}
aside > div:last-child > button:first-child{
background-color: var(--bleu);
color: black;

}


aside > div:last-child > button:last-child{
	border: solid 1px white;
	background-color: transparent;
	color: white;
	}

aside div:first-child > button{

	border-radius: 15px;
	border: none;
	background-color: white;
	font-size: large;
	font-weight: bold;
	height: 70px;

}
aside div:first-child > button > h3{
	margin: 10px;
}

aside #filterdown{
	width: 80%;
	height: 100%;
	display: none;
	flex-direction: column;
	justify-content: space-evenly;	
	gap:20px;
	padding-left: 15px;
	padding-bottom: 15px;
}

aside #filterdown > div{
	display: flex;
	flex-direction: row;
	gap:30px;
	
}

aside #filterdown > div > label{
	font-size: larger;
	color: var(--main-content-font-color);
}

aside #filterdown > div > input[type="checkbox"]{
	display: grid;
	place-content: center;
	margin: 0px;
	height: auto;
	width: 30px;
	cursor: pointer;
	accent-color: var(--bleu);
}




.artiste {
	margin-bottom: 50px;
}




/*****************************
Règles pour un objet (article)
*****************************/

.objet {
	background-color: #272727;
	border: 1px solid white;
	width: 1000px;
	height: 175px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 10px;
}


#divdroite{
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: var(--main-content-font-color);
	width: 100%;

}
 .affichageArticle {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:30px;
	width: 100%;
	max-width: 1000px;
	overflow: hidden;

}