/*****************************
    Règles générale
*****************************/


#connexion body { background-color: #333333;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Inter', 'sans-serif';
}


#connexion {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#connexion div { 
    width: 100%;
    display : flex;
    flex-direction : column;
    justify-content : center;
}



/*********************************
Règles pour conteneurs secondaires
*********************************/

#connexion p:nth-child(n+2) { margin-bottom : 0px;
    display : flex;
    flex-direction : column;
    align-items : center;
}

#connexion form { display: flex;
    flex-direction: column;
    align-items : center;
    width: 100%;
    max-width: 600px;
    height: 100%;
}

#connexion label {
    font-family: 'Inter', 'sans-serif';
    font-size: 14px;
}




#connexion button { 
    background-color: var(--bleu);
    color : black;
    font-size: 1em;
    font-weight: bold;
    border-radius : 10px;
    width : 100%;
    height : 45px;
    margin-bottom : 20px;
    border : none;
}


#connexion #inscription { 
    background-color: white;
    font-size: 1em;
    font-weight: bold;
    color: black;
    border-radius : 10px;
    width : 100%;
    height : 45px;
    margin-bottom : 20px;
    border : none;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*********************************
Règles pour les éléments simples
*********************************/

#connexion button:hover {
    cursor: pointer;
}

#connexion .connexion { margin-top : 40px;
    color : #000000;
    background-color: #79D2BC;
    border-radius: 10px;
}

#connexion .inscription { 
   
    border-radius: 10px;
}

#connexion input { 
    width : 100%;
    height : 45px;
    border-radius : 10px;
}

#connexion .MDPForgotten { 
    
    color: var(--bleu);
    text-decoration: none;
    font-size : 0.8em;
    width: 100%;
}

#connexion h1 {
    text-align: center;
    font-size: 2em;
    position: sticky;
    top: 0;
}