/*****************************
    Règles générale
*****************************/


#connexion body { background-color: #333333;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Inter', 'sans-serif';
}


#connexion {
    display: flex;
    flex-direction: column;
    align-items: center;
}



/*********************************
Règles pour conteneurs secondaires
*********************************/

#connexion p:nth-child(n+2) { margin-bottom : 0px;
    display : flex;
    flex-direction : column;
    align-items : center;
}

#connexion form { display: flex;
    flex-direction: column;
    align-items : center;
}

#connexion label {
    font-family: 'Inter', 'sans-serif';
    font-size: 14px;
}

#connexion button { border-radius : 10px;
    width : 270px;
    height : 45px;
    margin-bottom : 20px;
    border : none;
}


/*********************************
Règles pour les éléments simples
*********************************/

#connexion button:hover {
    cursor: pointer;
}

#connexion .connexion { margin-top : 40px;
    color : #000000;
    background-color: #79D2BC;
    border-radius: 10px;
}

#connexion .inscription { 
    background-color: #79D2BC;
    color : #000000;
    border-radius: 10px;
}

#connexion .input { width : 250px;
    height : 45px;
    border-radius : 10px;
}

#connexion .MDPForgotten { color: #79D2BC;
    text-decoration: none;
    font-size : 14px;
}

#connexion h1 {
    text-align: center;
}