html {
	max-height: 100vh;
	max-width: 100vw;
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: Arial, sans-serif;
	color: var(--main-font-color);
	margin: 0;
	/*Cacher la Scrollbar en x;*/
	background-color: var(--main-background-color);
}

main {
	min-height: 67vh;
}


/*****************************
Variables
*****************************/
:root {
	/* ==== Couleurs arrière-plan ====*/
	--main-background-color: white;
	--header-background-color: grey;
	--footer-background-color: grey;
	--div-background-color: rgb(83, 82, 82);
	--navBar-background-color: black;
	--bleu: #79d2bc;
	--rouge: #F85656;


	--main-content-background-color: #161616;

	/* ==== Couleurs police ====*/
	--main-font-color: black;
	--footer-font-color: black;
	--navBar-font-color: black;
	--main-content-font-color: white;

}

body.dark-mode {

	/* ==== Couleurs arrière-plan ====*/
	--main-background-color: #161616;
	--header-background-color: #272727;
	--footer-background-color: #161616;
	/*#161616*/
	--div-background-color: white;
	--navBar-background-color: #1D1D1D;
	--bleu: #79d2bc;
	--lightGrey: #212121;
	--main-content-background-color: white;

	/* ==== Couleurs police ====*/
	--main-font-color: white;
	--footer-font-color: #9B9B9B;
	--navBar-font-color: white;
	--main-content-font-color: #161616;
}





/*****************************
Pour factoriser
*****************************/



.conteneur {
	display: flex;
}

.error {
	color: red;
	font-weight: bold;
}




/*****************************
Règles générales ?
*****************************/

*:required:invalid  {
    background-color: #FF7F7F;
	border: #b93636 2px solid;
	border-radius: 5px;
	/*text-decoration: underline red;*/
}


button,
a {
	cursor: pointer;
}

a {
	color: white;
	text-decoration: none;
	block-size: fit-content;
	width: auto;
	height: auto;
	display: block;
}

h1,
h2 {
	color: var(--navBar-font-color);
}

ul {
	list-style: none;
}

p {
	margin: 0px;
}

input,
textarea {
	border: none;
	outline: none;
	margin: none;
	padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

input[type=number] {
	-moz-appearance: textfield;
}

img {
	max-width: 100%;
	max-height: 100%;
}


button img,
label img {
	width: 50px;
	height: 50px;
}


@media only screen and (max-width: 900px) {

	button img,
	label img {
		width: 30px;
		height: 30px;
	}
}


.iconTaille {
	height: 40px;
	width: 40px;
	border: none;
	background: none;
}



.danger {
	text-decoration: underline #D27979 3px;
}


/*****************************
Règles spéciales
*****************************/

/** Les tirets ne sont pas supportés de base **/
ul.tiret {
	list-style-type: none;
}

ul.tiret li a:before {
	content: "- ";
	text-indent: -20px;
}




/*****************************
Règles pour éléments du footer
*****************************/

footer {

	border-top: 1px solid var(--footer-font-color);
	color: var(--footer-font-color);
	box-sizing: border-box;
	background-color: var(--footer-background-color);
	width: 100%;
	block-size: fit-content;
	padding: 3vh 0 2vh 0;
}

footer ul {
	padding: 0px;

	margin: 0px;
	justify-content: space-between;
}

footer nav ul li {
	flex-flow: column;
	width: 100%;
	align-items: center;
}

footer nav ul li ul:last-child {
	flex-flow: row;
}

footer h4 {
	margin: 3px;
}

footer li a {
	color: var(--footer-font-color);
}

footer li a:hover {
	color: black;
	background-color: #79d2bc;
	border-radius: 10px;
}



footer #logosCommunaute {
	display: flex;
	flex-flow: row;
	justify-content: center;
	gap: 0px;
}


.contact {
	color: var(--main-content-font-color);
	background-color: var(--main-content-background-color);
	font-weight: bold;
	width: 100%;
	height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 5px;

}

.contact:hover {
	border: solid 1px var(--main-content-font-color);
	color: var(--main-content-background-color);
	background-color: var(--main-content-font-color);
}




/*********************************************
Règles pour éléments du footer (comment vendre)
**********************************************/

#cmtVendre {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#cmtVendre div {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}

#cmtVendre p,
h1 {
	text-align: center;
}


/*********************************************
Règles pour éléments du footer (comment vendre)
**********************************************/

#cmtAcheter {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#cmtAcheter div {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}

#cmtAcheter p,
h1 {
	text-align: center;
}


/************************************
Règles pour éléments du footer (FAQ)
************************************/

#faq {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#faq div {
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}

#faq p,
h1,
h3 {
	text-align: center;
}

#faq p,
h1 {
	margin-bottom: 70px;
}

#faq h3 {
	color: var();
}