


html{
	max-height:100vh;
	max-width:100vw;
	scroll-behavior: smooth;
	overflow-x:hidden;
}

body{
	font-family: Arial, sans-serif;
	color: var(--main-font-color);
	margin:0; /*Cacher la Scrollbar en x;*/
	background-color: var(--main-background-color);
}

main {
	min-height:67vh;
}


/*****************************
Variables
*****************************/
:root {
	/* ==== Couleurs arrière-plan ====*/
	--main-background-color: white;
	--header-background-color: grey;
	--footer-background-color: grey; 
	--navBar-background-color: black;
	
	/* ==== Couleurs police ====*/
	--main-font-color: #black;
	--footer-font-color: #black;
	--navBar-font-color:  black;

}

body.dark-mode {
	
	/* ==== Couleurs arrière-plan ====*/
	--main-background-color: #161616;
	--header-background-color: #272727;
	--footer-background-color: #161616; /*#161616*/
	--navBar-background-color:  #1D1D1D;

	--main-content-background-color:white;
	
	/* ==== Couleurs police ====*/
	--main-font-color: white;
	--footer-font-color: #9B9B9B;
	--navBar-font-color:  white;

	--main-content-font-color:#161616;
}





/*****************************
Pour factoriser
*****************************/



.conteneur {
	display: flex;
}



/*****************************
Règles pour éléments du footer
*****************************/

footer {
	border-top:1px solid var(--footer-font-color);
	color: var(--footer-font-color);
	box-sizing: border-box;
	background-color: var(--footer-background-color);
	width:100%;
	block-size: fit-content;
	padding:3vh 0 2vh 0 ;
}

footer ul {
	padding: 0px;
	gap:150px;
	margin:0px
}

footer nav ul li {
	flex-flow:column;
}

footer h4 {
	margin: 3px;
}

footer li a {
   color: var(--footer-font-color);
}





p, label, #pageProduit a {
	margin:10px;
	color: var(--main-content-font-color);
	background-color: var(--main-content-background-color);
	padding: 20px;
	border-radius: 5px;
	text-align: center;
}

p label {
	color: var(--main-font-color);
	background-color: var(--main-background-color);
}













/*****************************
Règles spéciales
*****************************/

/** Les tirets ne sont pas supportés de base **/
ul.tiret {
  list-style-type: none;
}

ul.tiret li a:before {
  content: "- ";
  text-indent: -20px;
}






/*****************************
Accueil
*****************************/

#banner {
	width: 100%;
	height: 50vh;
	margin-top: 5px;
}

#banner img {
object-fit: cover;
width: 100%;

}


main nav ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

main nav ul li img {
	height: 300px;
	width: 300px;
	border-radius: 300px;

}

main nav ul a {
	border: 1px solid var(--main-font-color);

}

main nav ul h2 {
	text-align: center;
}



/*****************************
Produits
*****************************/

main form.conteneur#pageProduit {
	display:grid;
	grid-template-areas: "grandeImage	grandeImage	 	nomItem 	nomItem"
						 "grandeImage 	grandeImage 	prixActuel 	prixActuel"
						 "profil 		profil 			lot 		lot"
						 "description 	description		description	description"
						 "information	information		information	information";
}


#grandeImage {
	grid-area: grandeImage;

}

#profil {
	grid-area: profil;
	flex-flow: row;
}

#profil * {
	flex-grow: 1;
}

#nomItem {
	grid-area: nomItem;
}

#prixActuel {
	grid-area: prixActuel;
	display:grid;
	grid: auto auto / auto auto;
}

#lot {
	grid-area: lot;
}

#description {
	grid-area: description;
}

#information {
	grid-area: information;
}










