
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--main-content-font-color);
    
}


main form {
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--header-background-color);
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


main form > div{

    width: 100%;
    max-width: 900px;
 
    display: flex;
    flex-direction: column;
    gap: 20px;

}

main form #topForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 300px;
}

main form #topForm > #divTopLeft {
    position: relative;
    background-color: white;
    border: 3px dashed black;
   border-radius: 15px;
   height: auto;
   width: 50%;
   height: 300px;
   display: flex;
   justify-content: center;
}

#carousel {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#carousel img{

    object-fit: cover;
    width: 100%;

}

#carousel > svg {
    position: absolute;
    top: 43%;
    height: 50px;
    width: 50px;

}
#carousel > svg path {
    fill: black;
}
#carousel > #buttonPrev {
    left: 0;
    rotate: -90deg;
    cursor: pointer;
}

#carousel > #buttonNext {
    right: 0;
    rotate: 90deg;
    cursor: pointer;
}

main form #topForm > #divTopLeft > input {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

main form #topForm > #divTopLeft > label {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;

}



main form #topForm > #divTopLeft > #labelAjout > span {

    font-size: 1.5em;
    
    color: black;
}


main form #topForm > #divTopLeft > #labelAjout.active {
    position: absolute;
    transition: width 0.2s, height 0.2s, right 2s, bottom 1s;
    bottom :30px;
    right: 30px;
    background-color: var(--bleu);  
    height: 70px;
    width : 70px;
    
}

main form #topForm > #divTopLeft > #labelAjout.active > span {
    display: none;
}

main form #topForm > #divTopLeft > input + label{
    position: absolute;
    font-size: 1.25em;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-color: white;
    
}

main form #topForm > #divTopLeft > label > svg{

    width: 60px;

}

main form #topForm > #divTopLeft > input + label:hover {
    background-color: rgba(255,255,255,0.5);
    transform: scale(1.01);
}

main form #topForm > #divTopLeft > img {
    object-fit: cover;
}



main form #topForm > #divTopRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 300px;
    gap: 10px;
 }

 


 main form #topForm > #divTopRight > div {
    width: 100%;
    height: 25%;
    max-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }


 main form #topForm > #divTopRight > div:first-child {
    
    height: 50%;
    max-height: 150px;

}



 main form #topForm > #divTopRight input {

    width: 100%;
    height: 90%;
    border-radius: 15px;
    font-size: 1em;
    text-align: center;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow: hidden;
}


 main form #topForm > #divTopRight > div h4 {
margin: 0px;    
 }


main form #middleForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 2   00px;
    border-radius: 15px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;

}

main form #middleForm > h3 {
    color: black;
    width: 90%;
    margin: 0;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
}

main form #middleForm > textarea {
    width: 90%;
    border: none;  
    resize: none; 
}

main form #bottomForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 300px;
    width: 100%;
    color: black;
}



main form #bottomForm > div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 15px;

    gap: 20px;
    height: 100%;
}


main form #bottomForm > div > h3 {
    width: 90%;
    margin: 0;
}

main form #bottomForm > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}




main form #bottomForm> div > div > section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 50px;
}



main form #bottomForm> div > div > section > input {
    width: 60%;
    height: 1.4em;
    padding: 0;
    border-bottom: 1px solid black;
}

main form #bottomForm> div > div > section > select {
    height: 80%;
    width: 60%;
}



main form #bottomForm> div > div > section > p{
    width: 40%;
}


#buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

#buttons > button,#buttons >  a{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50px;
    border-radius: 15px;
    font-size: 1.25em;
    font-weight: 700;
    border: none;

}

#buttons > a{
    background-color: white;
    color: black;
}


#buttons > button{
    background-color: var(--bleu);
    color: black;
}


@media (min-width: 481px) and (max-width: 1000px) { 


    main form #topForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        min-height: 300px;
        height: fit-content;
        
    }



    main form #topForm > #divTopLeft {
        position: relative;
        background-color: white;
       border-radius: 15px;
       height: auto;
       width: 100%;
       height: 300px;
       display: flex;
       justify-content: center;
    
    }


    main form #topForm > #divTopRight  {
        width: 100%;
        height: 300px;
    }

    main form #topForm > #divTopRight > input, main form #topForm > #divTopRight > input:first-child  {
        height: 33%;
    }


    main form #bottomForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: fit-content;
        color: black;

    }

    main form #bottomForm > div{
        width: 100%;
        padding-bottom: 10px;
    }

    


}