

main {
	display: flex;
	margin-top: 20px;
	flex-wrap: wrap;
}

/*****************************
Règles pour éléments du aside
*****************************/

aside {
	margin-right: 80px;
	background-color: #262525;
	width: 230px;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

select {
	cursor: pointer;
	border-radius: 5px;
}

.artiste {
	margin-bottom: 50px;
}




/*****************************
Règles pour un objet (article)
*****************************/

.objet {
	background-color: #272727;
	border: 1px solid white;
	width: 1000px;
	height: 175px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 10px;
	margin-bottom: 30px;
	border-radius: 10px;
}

.historique-objet {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	gap:30px;
	width: 60%;
}