/*****************************
    Règles générale
*****************************/



#inscription body {
    background-color: #333333;
    color: #ffffff;
    font-size: 20px;
    font-family: 'Inter', 'sans-serif';
}



/********************************
Règles pour conteneurs principaux
*********************************/

#inscription main {
    display: flex;
    flex-direction: column;
    align-items : center;
}

#inscription div article {
    width : 50%;
    font-size: 14px;
}

#inscription div:nth-child(0) {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

#inscription article p {
    width : 250px;
    align-items: center;
}

/*********************************
Règles pour conteneurs secondaires
*********************************/

#inscription form {
    margin-top: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#inscription form p {
    margin-bottom: none;
}

#inscription .formulaire {
    display : flex;
    justify-content : space-around;
    width: 100%;
}

#inscription .block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-bottom: 70px;
}

#inscription .petit-article {
    width: 70%;
}

#inscription .ville {
    display: flex;
    justify-content: space-evenly;
    width: 70%
}

#inscription .ville div {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#inscription .article-condition-generale {
    display: flex;
    align-items: center;
}

#inscription .condition-generale {
    text-align: center;
    height: 40px;
    width: 300px;
}



/*********************************
Règles pour les éléments simples
*********************************/

#inscription label {
  font-family: 'Inter', 'sans-serif';
  font-size: 14px;
}

#inscription button {
    border-radius : 10px;
    width : 250px;
    height : 45px;
    border : none;
    background-color: #79D2BC;
}

#inscription input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 15px;
}

#inscription button:hover {
  cursor: pointer;
}

#inscription .condition {
    text-decoration: none;
    color : #79D2BC;
}

#inscription .connexion {
    color: #79D2BC;
    margin-bottom: 20px;
}