main {

    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--lightGrey);
}

main>div {

    width: 100%;
    max-width: 1200px;

}

main>div>h1 {
    font-size: 50px;
    font-weight: bold;
    width: 100%;
    display: flex;
    justify-content: center;
}

main>div>div {
    width: 100%;
    display: flex;
    flex-direction: row;
}


main #divModifImage>div {

    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#divModifImage>div>div {

    width: 50%;
    min-width: 200px;
}


#divModifImage>div>div>img {
    border-radius: 100%;
    object-fit: cover;
}


#divModifImage>form {

    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

}


#divModifImage>form>button {

    width: 100%;
    max-width: 300px;
    max-height: 50px;
    height: 20%;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    border: none;

}

#divModifImage>form>#modifImageProfil {

    background-color: var(--bleu);
    border: 2px solid black;

}

#divModifImage>form>#effacerImageProfil {
    background-color: var(--rouge);
    color: var(--main-font-color);
    border: 2px solid black;

}


.modif {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    background-color: var(--header-background-color);
    margin-top: 30px;
    margin-bottom: 30px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.modif>h2 {
    font-size: 20px;
    font-weight: bold;
    width: 40%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.modif>form {
    min-height: 100px;
    height: fit-content;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    display: none;
}



.modif>form>input {
    text-align: center;
    height: 50px;
    max-width: 400px;
    width: 100%;
    font-weight: 700;

}

form>.champsAremplir {

    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


}

form>.champsAremplir>input {

    height: 40px;
    width: 90%;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;

}




form>.champsAremplir #postalEtVille {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 10px;

}

form>.champsAremplir #postalEtVille>input {
    width: 50%;
    height: 40px;
    width: 90%;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;

}





form>.annulerOuValider {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    gap: 10px;
}

form>.annulerOuValider>button {
    height: 40px;
    max-width: 400px;
    width: 100%;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
}

form>.annulerOuValider>.annuler {
    background-color: white;
    color: black;
    border: none;
}

form>.annulerOuValider>.valider {
    background-color: var(--bleu);
    color: black;
    border: none;
}

.modif>div {
    height: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.modif>div>p {
    margin: 0px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color: var(--bleu);
}



.modif>div>button {
    height: 40px;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bleu);
    color: black;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    font-size: 15px;
}

#divSupprimerCompte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
}

#btnSupprimerCompte {
    background-color: var(--rouge);
    color: var(--main-font-color);
    border: 2px solid black;
    border-radius: 10px;
    width: 50%;
    height: 50%;
    max-width: 400px;
    font-weight: 700;
    font-size: 15px;
}


.divPopUp {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    justify-content: center;
    align-items: center;
}

.divPopUp>.popUp {
    height: fit-content;
    background-color: var(--main-background-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}


.divPopUp>.popUp>section {
    height: 75px;
    width: 100%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
}

.divPopUp>.popUp>div {
    height: fit-content;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.divPopUp>.popUp>div>p {
    height: 100px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divPopUp>.popUp #conteneurLabelInputImage{
    margin-top: 20px;
    margin-bottom: 23px;
    height: 215px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.divPopUp>.popUp label {
    height: 100%;
    width: 215px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--bleu);
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.divPopUp>.popUp label:hover {
    transform: scale(1.01);
}

.divPopUp>.popUp #carousel {
    height: 100%;
    width: 215px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    overflow: hidden;
}

.divPopUp>.popUp #carousel>img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out;
}

.divPopUp>.popUp #nouvelImage{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.divPopUp>.popUp label>svg {
    height: 20%;
    width: 20%;
}

.divPopUp>.popUp .conteneurBouton {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-bottom: 20px;
}

.divPopUp>.popUp .conteneurBoutonEffacerPhotoProfil {
width: 100%;
display: flex;
flex-direction: row;
gap: 15px;
margin-bottom: 40px;
margin-top: 40px;

}

.divPopUp button {
    height: 50px;
    width: 100%;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    border: none;
}

.popUp>div>div>#annulerSupprimer {
    background-color: var(--bleu);
    color: black;
}

.popUp>div>div>#confirmerSupprimer {
    background-color: var(--rouge);
    color: white;
}

.popUp #annulerChangerImage {
    background-color: var(--rouge);
    color: white;
}

.popUp #confirmerChangerImage {
    background-color: var(--bleu);
    color: black;
}

