main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--main-content-font-color);

}


main #formPrincipale {
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: var(--header-background-color);
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}


main #formPrincipale>div {

    width: 100%;
    max-width: 900px;

    display: flex;
    flex-direction: column;
    gap: 20px;

}

main #formPrincipale>div>h3 {

    border-radius: 15px;
    width: 100%;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: black;
    color: var(--bleu);

}

main #formPrincipale #topForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    height: 300px;
}

main #formPrincipale #topForm>#divTopLeft {
    position: relative;
    background-color: white;
    border-radius: 15px;
    height: auto;
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
}


#carousel {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

#carousel img {

    object-fit: cover;
    height: 100%;

}

#carousel>svg {
    position: absolute;
    top: 45%;
    height: 50px;
    width: 50px;

}

#carousel>svg path {
    fill: var(--bleu);
}

#carousel>#buttonPrev {

    left: 0;
    rotate: -90deg;
    cursor: pointer;
}



@keyframes previous {
    0% {
        transform: translateY(0px) scale(1);
    }

    50% {
        transform: translateY(-10px) scale(1.05);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}



@keyframes next {
    0% {
        transform: translateY(0px) scale(1);
    }

    50% {
        transform: translateY(10px) scale(1.05);
    }

    100% {
        transform: translateY(0px) scale(1);
    }
}

#carousel>#buttonPrev.active {
    animation-name: previous;
    animation-duration: 1s;
}

#carousel>#buttonNext {
    right: 0;
    rotate: 90deg;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}



#carousel>#buttonNext.active {
    animation-name: previous;
    animation-duration: 1s;
}

main #formPrincipale #topForm>#divTopLeft>input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

main #formPrincipale #topForm>#divTopLeft>label {
    cursor: pointer;

}

main #formPrincipale #topForm>#divTopLeft>input+label {

    font-size: 1.25em;
    font-weight: 700;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 15px;

}

main #formPrincipale #topForm>#divTopLeft>label>svg {

    width: 60px;

}

main #formPrincipale #topForm>#divTopLeft>input+label:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

main #formPrincipale #topForm>#divTopLeft>img {
    object-fit: cover;
}



main #formPrincipale #topForm>#divTopRight {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    height: 300px;
    gap: 30px;
}




main #formPrincipale #topForm>#divTopRight>div {
    width: 100%;
    height: 25%;
    max-height: 75px;
}


main #formPrincipale #topForm>#divTopRight>h4 {

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40%;
    max-height: 150px;

    border-radius: 15px;
    margin: 0px;
    font-size: 1em;
    text-align: center;
    font-weight: 700;

    overflow: hidden;
    color: black;
    background-color: white;

}



main #formPrincipale #topForm>#divTopRight>#divPrixActuel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


main #formPrincipale #topForm>#divTopRight>#divPrixActuel>h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 100%;
    margin: 0px;
    font-size: 1em;
    font-weight: 700;

    overflow: hidden;
    color: white;
}


main #formPrincipale #topForm>#divTopRight>#divPrixActuel>h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    border-radius: 15px;
    height: 100%;
    margin: 0px;
    font-size: 1em;
    font-weight: 700;


    overflow: hidden;
    color: white;
    background-color: black;
    border: solid 1px white;

}

main #formPrincipale #topForm>#divTopRight>#divNouveauPrix {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}


main #formPrincipale #topForm>#divTopRight>#divNouveauPrix a {

width: 100%;
height: 100%;
border-radius: 15px;
background-color: var(--bleu);
color: black;
font-weight: 700;
display: flex;
align-items: center;
justify-content: center;

}

main #formPrincipale #topForm>#divTopRight>#divNouveauPrix #enchereTerminee{
    background-color: #666;
}

/*main #formPrincipale #topForm>#divTopRight>#divNouveauPrix>input {}*/


main #formPrincipale #topForm>#divTopRight>#divNouveauPrix>button {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%;
    border-radius: 50px;
    background-color: var(--bleu);
    border: none;
    font-size: 1em;

}

main #formPrincipale #topForm>#divTopRight>#divNouveauPrix>button>img {
    width: 30px;
    height: 30px;
}


main #formPrincipale #topForm>#divTopRight>#divNouveauPrix>input {

    border-radius: 15px;
    margin: 0px;
    font-size: 1em;
    text-align: center;
    font-weight: 700;

    overflow: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 55%;
}





main #formPrincipale #features {

    margin-top: 10px;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    height: 50px;
    gap: 20px;
}




main #formPrincipale #features #featuresLeft #heart {
    height: 47px;
    width: 47px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


main #formPrincipale #features #featuresLeft svg path {
    fill: transparent;
    cursor: pointer;
    transition: transform 0.4s ease-in-out, stroke 0.4s ease-in-out;

}

main #formPrincipale #features #featuresLeft .heartBouton:hover {
    stroke: var(--rouge);
    transform: scale(1.07) translateX(-1px);
}

.estFavoris {
    display: none;
}

.estlike {
    display: none;
}


main #formPrincipale #features #featuresLeft .heartBouton.favoris {
    fill: var(--rouge);
    stroke: var(--rouge);
    transform-origin: center;
    animation: ajoutFavoris 0.4s linear;
}

main #formPrincipale #features #featuresLeft .heartBouton.favoris:hover {
    stroke: white;
    transform: scale(1);
}


@keyframes ajoutFavoris {
    0% {
        transform: scale(0.1) rotate(0deg);
        background-color: var(--rouge);
        stroke: var(--rouge);

    }


    70% {

        transform: scale(1.3) rotate(-1turn);

    }


    80% {

        transform: scale(1.05) rotate(-1.07turn);

    }

    100% {
        transform: scale(1) rotate(-1turn);

    }
}







main #formPrincipale #features #featuresLeft #dislike path:hover {
    stroke: var(--rouge);
    transform: scale(1.01);

}

main #formPrincipale #features #featuresLeft  #like path:hover {
    stroke: var(--bleu);
    transform: scale(1.03);
}

main #formPrincipale #features #featuresLeft #like .likeBouton.liked {

    fill: var(--bleu);
    stroke: var(--bleu);

    animation: like 0.5s ease-in-out;

}

main #formPrincipale #features #featuresLeft  .likeBouton.liked:hover {
    stroke: white;
    transform: scale(1);
}

main #formPrincipale #features #featuresLeft #dislike .dislikeBouton.disliked {

    fill: var(--rouge);
    stroke: var(--rouge);
    animation: dislike 0.5s ease-in-out;


}

main #formPrincipale #features #featuresLeft #dislike .dislikeBouton.disliked:hover {
    stroke: white;
    transform: scale(1);
}


@keyframes like {
    0% {
        transform: translateY(0px) scale(1);
        background-color: var(--bleu);
        stroke: var(--bleu);
    }

    25% {

        transform: scale(0.7) translateX(5px) rotate(10deg);

    }

    50% {
        transform: scale(1) rotate(-10deg);

    }

    100% {
        transform: translateY(0px);

    }
}

@keyframes dislike {
    0% {
        transform: translateY(0px) scale(1);
        background-color: var(--rouge);
        stroke: var(--rouge);
    }

    25% {

        transform: scale(0.7) translateX(5px) rotate(10deg);

    }

    50% {
        transform: scale(1) rotate(-10deg);

    }

    100% {
        transform: translateY(0px);

    }
}




#SVGRepo_iconCarrier {
    height: 100%;
}





main #formPrincipale #features #featuresLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}



main #formPrincipale #features #featuresLeft>div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px white;
    border-radius: 15px;
    height: 50px;
    width: 40%;

}

main #formPrincipale #features #featuresLeft>div>svg {
    height: 30px;
    width: 30px;
}

main #formPrincipale #features #featuresLeft>div>p {
    font-size: 1.2em;

}

main #formPrincipale #features #featuresLeft>a svg {
    height: 30px;
    width: 30px;

}

main #formPrincipale #features #featuresLeft>a svg :where(path, polygon) {
    fill: black;

}


main #formPrincipale #features #featuresLeft>a {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    color: black;
    border-radius: 15px;
    height: 100%;
}


main #formPrincipale #features #featuresRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    color: black;
    border-radius: 15px;

}

main #formPrincipale #features #featuresRight>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 30px;
    height: 30px;

}

main #formPrincipale #features #featuresRight img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 1000px;
}


main #formPrincipale #middleForm {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    border-radius: 15px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;

}



main #formPrincipale #middleForm>h3 {
    color: var(--main-font-color);
    background-color: var(--main-content-font-color);
    margin: 0;
    margin-bottom: 20px;
    height: 35px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
    min-width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

main #formPrincipale #middleForm>p {
    width: 90%;
    color: black;
}

main #formPrincipale #bottomForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    height: 300px;
    width: 100%;
    color: black;
}



main #formPrincipale #bottomForm>div {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 15px;

    gap: 20px;
    height: 100%;
}


main #formPrincipale #bottomForm>div>h3 {
    width: 90%;
    margin: 0;
}

main #formPrincipale #bottomForm>div>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

main #formPrincipale #bottomForm>div> h4 {


width: 20%;
min-width: fit-content;
margin: 0px;
margin-top: 10px;
padding: 15px;
color: var(--main-font-color);
background-color: var(--main-content-font-color);
border-radius: 15px;

}




main #formPrincipale #bottomForm>div>div>section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 50px;
}


main #formPrincipale #bottomForm>div>div>section> :where(input, p) {
    width: 60%;
    height: 1.4em;
    padding: 0;
}

main #formPrincipale #bottomForm>div>div>section>select {
    height: 80%;
    width: 60%;
}



main #formPrincipale #bottomForm>div>div>section>h4 {
    width: 40%;
}





.popUpBackground {
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUpBackground>.popUpForm {
    height: fit-content;
    background-color: var(--main-background-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
}


.popUpBackground>.popUpForm>section {
    height: 75px;
    width: 100%;
    background-color: white;
    border-radius: 15px 15px 0px 0px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
}




.popUpBackground>.popUpForm>div {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.popUpBackground>.popUpForm #conteneurh3 {
    margin-top: 10px;
    margin-bottom: 10px;

}

.popUpBackground>.popUpForm #conteneurh3>h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.popUpBackground>.popUpForm #conteneurh3 #prixEnchereProposee {
    color: var(--bleu);
    font-size: 1.8em;
}


.popUpBackground>.popUpForm #divCheckBoxConfirmation {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.popUpBackground>.popUpForm #caseValidation {
    height: 20px;
    width: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    accent-color: var(--bleu);
}

.popUpBackground>.popUpForm label {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 10px;
    cursor: pointer;
}

.popUpBackground>.popUpForm .conteneurBouton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
    margin-top: 20px;

}


.popUpBackground>.popUpForm .conteneurBouton>button {
    height: 50px;
    width: 40%;
    border-radius: 15px;
    border: none;
    font-size: 1.2em;
    font-weight: bold;

    cursor: pointer;
}

.popUpBackground>.popUpForm .conteneurBouton #annulerEnchere {
    background-color: white;
    color: black;
}

.popUpBackground>.popUpForm .conteneurBouton #ValiderEnchere {
    background-color: var(--bleu);
    color: black;
}


@media (min-width: 481px) and (max-width: 1000px) {

    main #formPrincipale>div {

        align-items: center;

    }

    main #formPrincipale #topForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        min-height: 300px;
        height: fit-content;
        width: 90%;

    }



    main #formPrincipale #topForm>#divTopLeft {
        position: relative;
        background-color: white;
        border-radius: 15px;
        height: auto;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;

    }


    main #formPrincipale #topForm>#divTopRight {
        width: 100%;
        height: 300px;
    }

    main #formPrincipale #topForm>#divTopRight>input,
    main #formPrincipale #topForm>#divTopRight>input:first-child {
        height: 33%;
    }



    main #formPrincipale #features {

        flex-direction: column-reverse;
        gap: 20px;
        height: fit-content;
        width: 90%;
    }





    main #formPrincipale #features #featuresRight {
        width: 100%;
        height: 50px;
    }

    main #formPrincipale #features #featuresLeft {
        width: 100%;
    }

    main #formPrincipale #features #featuresLeft>a {
        height: 52px;
    }





    main #formPrincipale #bottomForm {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;
        height: fit-content;
        color: black;

    }

    main #formPrincipale #bottomForm>div {
        width: 100%;
        padding-bottom: 10px;
    }
}

#bandeau1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 115px;
    width: 100%;
    height: 80px;
    border-radius: 15px;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    color: #000000;
    z-index: 1;
}


.bandeau {


    display: none;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 109px;
    width: 100%;
    height: 80px;
    background: #F85656;
    border-radius: 15px;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    z-index: 1;
    

}

.bandeau .bandeauDiv1, .bandeau .bandeauDiv3 {
    width : 20%;
    display: flex;
    justify-content: center;

}


.bandeauDiv3 button{

    width : 70%;
    display: flex;
    justify-content: center;
    align-items: center;

}


.bandeau .bandeauDiv2 {

    width : 60%;

}


#bandeauBleu {
    background: #79D2BC;
}


#enchereOuiNon{
    display: none;
}



.btnFermer {
    display: flex;
    width: 100%;
    border: 0;
    line-height: 2.5;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    color: white;
    border-radius: 15px;
    background-color: #020202;
    opacity: 0.7;
}

.div1,
.div3 {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.div2 h3 {
    width: 100%;
}

.div2 {
    width: 50%;
    text-align: center;
}

.div3>button {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px) {

    #bandeau1,
    #bandeau2,
    .btnFermer {
        position: relative;
    }

    #bandeau1,
    #bandeau2 {
        top: 0px;
    }
}